@model SVCCTempleWeb.Models.TempleInfoDateModel
<table class="table table-bordered table-striped">
    @foreach (var templeInfoModel in Model.TempleInfoModels)
    {
        <tr>
            <th style="vertical-align: top;">
                @if (templeInfoModel.StartTime != "99:99" && templeInfoModel.ImportantDatesId < 99000)
                {

                    @DateTime.Parse(templeInfoModel.StartTime).ToString("h:mmtt").ToLower()
                }
            </th>
            <td class="text-left" style="font-size: 14px; vertical-align: top;">
                @if (templeInfoModel.ImportantDatesId == 5000)
                {
                    <b>@templeInfoModel.InfoText1</b>
                }
                else
                {
                    @templeInfoModel.InfoText1
                    if (templeInfoModel.ImportantDatesId >= 99000)
                    {
                    <span style="font-weight: bold;">&nbsp;@DateTime.Parse(templeInfoModel.StartTime).ToString("h:mmtt").ToLower() - @DateTime.Parse(templeInfoModel.FinishTime).ToString("h:mmtt").ToLower()</span>
                    }
                }
                @if (!string.IsNullOrWhiteSpace(templeInfoModel.InfoText2))
                {
                    <br />
                    @templeInfoModel.InfoText2
                }
                @if (!string.IsNullOrWhiteSpace(templeInfoModel.InfoText3))
                {
                    <br />
                    @templeInfoModel.InfoText3
                }
                @if (!string.IsNullOrWhiteSpace(templeInfoModel.SponsorshipGroupId))
                {
                    <br />
                    <a href="/SVCCTempleSacramento/Sponsorship/@templeInfoModel.SponsorshipGroupId" style="color: #0000ff; font-size: 12px; font-weight: bold; text-decoration: underline;" target="_blank">Click here to enter Sankalpam</a>
                }
            </td>
        </tr>
    }
</table>
