<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sri Siddhi Vinayaka Cultural Center, 4679 Aldona Lane, Sacramento, CA 95841, (916) 483-4760, (916) 801-3097, (925) 301-0391, mailinglist@svcctemple.org - SVCC Temple Sacramento</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryajax")
        @Scripts.Render("~/bundles/bootstrap")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/meanmenu.css" rel="stylesheet" />
    <link href="~/Content/Site0.css" rel="stylesheet" />
    <link href="~/Include/StyleSheet1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.meanmenu.js"></script>
    <script src="~/Include/javaScriptCode-1.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patua+One|Open+Sans|Lato|Roboto" />
</head>
<body style="margin-left: auto; margin-right: auto; max-width: 1350px; padding: 0px;">
    <script>
        $(document).ready
            (
            function () {
                window_onload();
            }
            );

        function window_onload() {
            alert("This is appearing from window_onload in Shared/_Layout.cshtml - Please implement window_onload in your cshtml");
        }
        $.ajaxSetup({ cache: false });
    </script>
    <div class="center" id="divContainer" style="max-width: 1350px; padding: 0px; text-align: center; width: 100%;">
        @Html.Partial("_Top")
        <table class="table table-responsive" style="max-width: 1350px; width: 100%;">
            <tr>
                <td style="vertical-align: top; width: 225px;">
                    @Html.Partial("_Left")
                </td>
                <td style="vertical-align: top;">
                    @Html.Partial("_TodaysInfo")
                    @RenderBody()
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.Partial("_Bottom")
                </td>
            </tr>
        </table>
    </div>
    @Html.Partial("_LoadingModal")
</body>
</html>
