@{
    string imageTitleDailyWeeklySchedule = "Daily Weekly Schedule - SVCC Temple Sacramento";
    string imageTitleRecurringSchedule = "Summary of schedule - SVCC Temple Sacramento";
    string imageTitleDhanurMasam = "Sat 12/16 till Sat 1/13 Every Sat, Sun 6:30am - 8am  - SVCC Temple Sacramento";
    string imageTitleVaikuntaEkadasi = "Fri Dec 22 Vaikunta Ekadasi - SVCC Temple Sacramento";
    string imageTitleKoodaravalli = "Thu Jan 11 Koodaravalli 27th Fasting Completion Day - SVCC Temple Sacramento";
    string imageTitleBhogi = "Sun Jan 14 End of Maargazhi Utsavam and Bhogi - SVCC Temple Sacramento";
    string imageTitleSankranti = "Mon Jan 15 Makara Sankranti,Pongal, Uttarayana Punya Kaalam - SVCC Temple Sacramento";
    string imageTitleArudraDarshanam = "Wed Dec 27 Arudra Darshanam (Thiruvadarai) 6am, 6:30am, 7am - SVCC Temple Sacramento";
    string imageTitleNewYear = "Mon Jan 1 6am onwards - Happy New Year - SVCC Temple Sacramento";
}
<div id="divUpcomingLinks" class="col-md-12">
    <table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; margin: auto 0; padding: 5px;">
        <tr>
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #a54000; font-size: 21px; font-weight: bold;">
                    a.&nbsp;
                </span>
                <a alt="@imageTitleDailyWeeklySchedule" title="@imageTitleDailyWeeklySchedule" href="javascript: void(0);" onclick="javascript: document.getElementById('divDailyWeeklySchedule').scrollIntoView();" style="color: #a54000; font-size: 21px; font-weight: bold; text-decoration: underline;">
                    Daily / Weekly - Schedule
                </a>
            </td>
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #a54000; font-size: 21px; font-weight: bold;">
                    b.&nbsp;
                </span>
                <a alt="@imageTitleRecurringSchedule" title="@imageTitleRecurringSchedule" href="javascript: void(0);" onclick="javascript: document.getElementById('divRecurringSchedule').scrollIntoView();" style="color: #a54000; font-size: 21px; font-weight: bold; text-decoration: underline;">
                    Recurring - Schedule
                </a>
            </td>
        </tr>
    </table>
    <table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; margin: auto 0; padding: 5px;">
        <tr>
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">1. </span>
                <a alt="@imageTitleDhanurMasam" title="@imageTitleDhanurMasam" href="javascript: void(0);" onclick="javascript: document.getElementById('divDhanurMasam').scrollIntoView();" style="color: #ff0000; font-size: 15px; font-weight: bold; text-decoration: underline;">
                    Every Sat, Sun - 12/16 - 1/14 - 6:30am - 8am<br />
                    Maargazhi Mahotsavam<br />
                    12/16, 12/17, 12/23, 12/24, 12/30, 12/31, 1/6, 1/7, 1/13, 1/14
                </a>
            </td>
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #0000ff; font-size: 15px; font-weight: bold;">2. </span>
                <a alt="@imageTitleVaikuntaEkadasi" title="@imageTitleVaikuntaEkadasi" href="javascript: void(0);" onclick="javascript: document.getElementById('divDhanurMasam').scrollIntoView();" style="color: #0000ff; font-size: 15px; font-weight: bold; text-decoration: underline;">
                    Fri Dec 22 Vaikunta Ekadasi<br />
                    Perumal procession
                </a>
            </td>
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">3. </span>
                <a alt="@imageTitleArudraDarshanam" title="@imageTitleArudraDarshanam" href="javascript: void(0);" onclick="javascript: document.getElementById('divArudraDarshanam').scrollIntoView();" style="color: #ff0000; font-size: 15px; font-weight: bold; text-decoration: underline;">
                    Web Dec 27 Arudra Darshanam (Tiruvadarai)<br />
                    27th Pasuram
                </a>
            </td>
        </tr>
        <tr>
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #0000ff; font-size: 15px; font-weight: bold;">2. </span>
                <a alt="@imageTitleVaikuntaEkadasi" title="@imageTitleVaikuntaEkadasi" href="javascript: void(0);" onclick="javascript: document.getElementById('divNewYear').scrollIntoView();" style="color: #0000ff; font-size: 15px; font-weight: bold; text-decoration: underline;">
                    Mon Jan 1 New Year
                </a>
            </td>
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">3. </span>
                <a alt="@imageTitleKoodaravalli" title="@imageTitleKoodaravalli" href="javascript: void(0);" onclick="javascript: document.getElementById('divDhanurMasam').scrollIntoView();" style="color: #ff0000; font-size: 15px; font-weight: bold; text-decoration: underline;">
                    Thu Jan 11 Koodaravalli<br />
                    27th Pasuram
                </a>
            </td>
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #0000ff; font-size: 15px; font-weight: bold;">4. </span>
                <a alt="@imageTitleBhogi" title="@imageTitleBhogi" href="javascript: void(0);" onclick="javascript: document.getElementById('divDhanurMasam').scrollIntoView();" style="color: #0000ff; font-size: 15px; font-weight: bold; text-decoration: underline;">
                    Sun Jan 14 - End of Maargazhi Utsavam and Bhogi
                </a>
            </td>
        </tr>
        <tr>
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">5. </span>
                <a alt="@imageTitleSankranti" title="@imageTitleSankranti" href="javascript: void(0);" onclick="javascript: document.getElementById('divSankranti').scrollIntoView();" style="color: #ff0000; font-size: 15px; font-weight: bold; text-decoration: underline;">
                    Mon Jan 15 - Makara Sankranti, Pongal,Uttarayana Punya Kaalam
                </a>
            </td>
        </tr>
    </table>
</div>
<br style="clear: both;" />
<hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
<div id="divArudraDarshanam" class="col-md-12" style="font-family: Arial; font-size: 18px; font-weight: bold; text-align: left;">
    <img src="~/Images/Sacramento/ArudraDarshanam_20231227.jpg" alt="@imageTitleArudraDarshanam" title="@imageTitleArudraDarshanam" />
    <br />
    <div class="col-md-6" style="float: left; text-align: left;">
        Wed Dec 27 - 12/27<br />Arudra Darshanam, Thiruvadarai<br /><br />
        6am - Sri Venkateshawara Suprabhatham<br />
        6:30am - Thiruvembavai <br />
        7am - Arudra Rudrabhishekam<br />
        Nataraja Pooja<br />
        Archana<br />
        Mantra Pushpam<br />
        Maha Mangala Aarthi<br />
        Theertha Prasada Viniyogam<br />
    </div>
    <div class="col-md-6" style="float: left; text-align: left;">
        <a href="https://www.svcctemple.org/SVCCTempleSacramento/Sponsorship/1092" style="color: #ff0000; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" alt="@imageTitleArudraDarshanam" title="@imageTitleArudraDarshanam">
            Click here to enter Sankalpam
        </a>
        <br />
        <a href="/Files/ArudraDarshanam_1.html" style="color: #000000; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" alt="@imageTitleArudraDarshanam" title="@imageTitleArudraDarshanam">Click to read more about Arudra Darshanam</a>
        <br />
        <a alt="Scan QR code to enter Sankalpam @imageTitleArudraDarshanam" title="Scan QR code to enter Sankalpam @imageTitleArudraDarshanam" href="https://www.svcctemple.org/SVCCTempleSacramento/Sponsorship/1091" target="_blank">
            <img src="/Images/Sacramento/QRCodes/ArudraDarshanam_20231227_QRCode.png" alt="Scan QR code to enter Sankalpam @imageTitleArudraDarshanam" title="Scan QR code to enter Sankalpam @imageTitleArudraDarshanam" style="height: 189px; width: 189px;" />
        </a>
    </div>
</div>
<br style="clear: both;" />
<hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
<div id="divNewYear" class="col-md-12" style="font-family: Arial; font-size: 18px; font-weight: bold; text-align: left;">
    <img src="~/Images/Sacramento/NewYear_20240101.jpg" alt="@imageTitleNewYear" title="@imageTitleNewYear" />
    <br />
    <div class="col-md-6" style="float: left; text-align: left;">
        SVCC Temple Wishes you, your family &<br />friends Happy & Prosperous New Year<br /><br />
        6am - Sri Venkateshawara Suprabhatham<br />
        7am - Sarva Devatha Sahita Mahaganapathi Homam Poornahuti<br />
        9:30am - Mahaganapathi Abhishekam & Alankaram<br />
        Mahaneerajanam<br />
        Mantra Pushpam<br />
        Maha Mangala Aarthi<br />
        Theertha Prasada Viniyogam
    </div>
    <div class="col-md-6" style="float: left; text-align: left;">
        <a href="https://www.svcctemple.org/SVCCTempleSacramento/Sponsorship/1093" style="color: #ff0000; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" alt="Sun 11/2 Diwali - SVCC Temple Sacramento" title="Sun 11/2 Diwali - SVCC Temple Sacramento">
            Click here to enter Sankalpam
        </a>
        <br />
        <a alt="Scan QR code to enter Sankalpam @imageTitleNewYear" title="Scan QR code to enter Sankalpam @imageTitleNewYear" href="https://www.svcctemple.org/SVCCTempleSacramento/Sponsorship/1093" target="_blank">
            <img src="/Images/Sacramento/QRCodes/ArudraDarshanam_20231227_QRCode.png" alt="Scan QR code to enter Sankalpam @imageTitleNewYear" title="Scan QR code to enter Sankalpam @imageTitleNewYear" style="height: 189px; width: 189px;" />
        </a><br /><br />
        <span style="color: #0000ff;">
            Archana - every 30 minutes
        </span>
    </div>
</div>
<br style="clear: both;" />
<hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
<div id="divDhanurMasam" class="col-md-12" style="font-family: Arial; font-size: 18px; font-weight: bold; text-align: left;">
    <span style="color: #000000; font-family: Arial; font-size: 22px; font-weight: bold;">
        Maargazhi(Dhanur) Mahotsavam - 2023 - 2024 (Dec 16 2023 till Jan 14 2024)
    </span>
    <table style="width: 100%;">
        <tr>
            <td>
                <img src="/Images/AandalMaargazhiMahotsavam.png" style="height: 495px; width: 423px;" alt="@imageTitleDhanurMasam" title="@imageTitleDhanurMasam" />
            </td>
            <td style="padding-left: 9px; vertical-align: top;">
                @*<span style="color: #1d2228; font-family: Arial; font-size: 20px; font-weight: bold;">
                        Maargazhi(Dhanur) Mahotsavam - 2023 - 2024 (Dec 16 2023 till Jan 14 2024)
                    </span>
                    <br /><br />*@
                <br />
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: bold;">
                    6:30 AM to 8:00 AM -&nbsp;
                </span>
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: normal;">
                    Suprabatham, Thirupalli Ezhuchi, Thiruppavai, Venkatesa Ashtotharam/Godha archana, Saattumurai
                </span>
                <br /><br />
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: normal;">
                    Begin of Maargazhi -&nbsp;
                </span>
                &nbsp;
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: bold;">
                    Dec 16 (Saturday)
                </span>
                <br />
                <span style="color: #1d2228; font-family: Arial; font-size: 16px; font-weight: normal;">
                    Andal Thirumanjanam -&nbsp;
                </span>
                &nbsp;
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: bold;">
                    Dec 16 (Saturday) 6:30am
                </span>
                <br /><br />
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: bold;">
                    12/16, 12/17, 12/23, 12/24, 12/30, 12/31, 1/6, 1/7, 1/13, 1/14
                </span>
                <br /><br />
                <span style="color: #1d2228; font-family: Arial; font-size: 16px; font-weight: normal;">
                    Vaikunda Ekadasi (Perumal procession) -&nbsp;
                </span>
                &nbsp;
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: bold;">
                    Dec 22 (Friday)
                </span>
                <br /><br />
                <span style="color: #1d2228; font-family: Arial; font-size: 16px; font-weight: normal;">
                    Koodaravalli (27th pasuram) -&nbsp;
                </span>
                &nbsp;
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: bold;">
                    Jan 11 (Thursday)
                </span>
                <br /><br />
                <span style="color: #1d2228; font-family: Arial; font-size: 16px; font-weight: normal;">
                    End of Maargazhi -&nbsp;
                </span>
                &nbsp;
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: bold;">
                    Jan 14 (Sunday)
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: normal; text-align: left; vertical-align: top;">
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;">
                    Significance of Thiruppavai & Maargazhi(Dhanur) month
                </span>
                <br />
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: normal;">
                    Vedas, considered to be the very breath of Parabrahmam, were given to us for conducting our day to day activities, devotion, understanding the ultimate reality and attain mukthi (salvation). Thiruppavai teaches us the same in the simple 30 pasurams and is called “vedam anaittukkum vitthu” or the “seed for all vedic knowledge”. Margazhi month is special for Hindu people which encompass more festivals and events.margazhi month is considered as divine month not only for humans and also devas.
                    <br />
                    Kindly request everyone's esteemed presence with family and friends on all weekends to participate and receive the divine blessings in the holy month of Maargazhi
                </span>
                <br /><br />
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: normal; text-decoration: underline;">
                    1. Suprabatham
                </span>
                <br />
                Tamil <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://www.prapatti.com/slokas/tamil/venkateshasuprabhaatam_all.pdf">https://www.prapatti.com/slokas/tamil/venkateshasuprabhaatam_all.pdf</a>
                <br />
                Telugu <a href="https://www.prapatti.com/slokas/telugu/venkateshasuprabhaatam_all.pdf" target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;">https://www.prapatti.com/slokas/telugu/venkateshasuprabhaatam_all.pdf</a>
                <br />
                Kannada <a href="https://www.prapatti.com/slokas/kannada/venkateshasuprabhaatam_all.pdf" target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;">https://www.prapatti.com/slokas/kannada/venkateshasuprabhaatam_all.pdf</a>
                <br />
                Devanagiri <a href="https://www.prapatti.com/slokas/sanskrit/venkateshasuprabhaatam_all.pdf" target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;">https://www.prapatti.com/slokas/sanskrit/venkateshasuprabhaatam_all.pdf</a>
                <br />
                English <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="">https://www.prapatti.com/slokas/english/venkateshasuprabhaatam_all.pdf"></a>
                <br /><br />
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: normal; text-decoration: underline;">
                    2. Thirupalli Ezhuchi
                </span>
                <br />
                Tamil <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://www.prapatti.com/slokas/tamil/naalaayiram/tondaradippodiyaazvaar/tiruppalliyezuchchi.pdf">https://www.prapatti.com/slokas/tamil/naalaayiram/tondaradippodiyaazvaar/tiruppalliyezuchchi.pdf</a>
                <br />
                Telugu <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://www.prapatti.com/slokas/telugu/naalaayiram/tondaradippodiyaazvaar/tiruppalliyezuchchi.pdf">https://www.prapatti.com/slokas/telugu/naalaayiram/tondaradippodiyaazvaar/tiruppalliyezuchchi.pdf</a>
                <br />
                Kannada <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://www.prapatti.com/slokas/kannada/naalaayiram/tondaradippodiyaazvaar/tiruppalliyezuchchi.pdf">https://www.prapatti.com/slokas/kannada/naalaayiram/tondaradippodiyaazvaar/tiruppalliyezuchchi.pdf</a>
                <br />
                Devanagiri <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://www.prapatti.com/slokas/sanskrit/naalaayiram/tondaradippodiyaazvaar/tiruppalliyezuchchi.pdf">https://www.prapatti.com/slokas/sanskrit/naalaayiram/tondaradippodiyaazvaar/tiruppalliyezuchchi.pdf</a>
                <br />
                English <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://www.prapatti.com/slokas/english/naalaayiram/tondaradippodiyaazvaar/tiruppalliyezuchchi.pdf">https://www.prapatti.com/slokas/english/naalaayiram/tondaradippodiyaazvaar/tiruppalliyezuchchi.pdf</a>
                <br /><br />
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: normal; text-decoration: underline;">
                    3. Thiruppavai
                </span>
                <br />
                Tamil <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://www.prapatti.com/slokas/tamil/naalaayiram/aandaal/tiruppaavai.pdf">https://www.prapatti.com/slokas/tamil/naalaayiram/aandaal/tiruppaavai.pdf</a>
                <br />
                Telugu <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://www.prapatti.com/slokas/telugu/naalaayiram/aandaal/tiruppaavai.pdf">https://www.prapatti.com/slokas/telugu/naalaayiram/aandaal/tiruppaavai.pdf</a>
                <br />
                Kannada <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://www.prapatti.com/slokas/kannada/naalaayiram/aandaal/tiruppaavai.pdf">https://www.prapatti.com/slokas/kannada/naalaayiram/aandaal/tiruppaavai.pdf</a>
                <br />
                Devanagiri <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://www.prapatti.com/slokas/sanskrit/naalaayiram/aandaal/tiruppaavai.pdf">https://www.prapatti.com/slokas/sanskrit/naalaayiram/aandaal/tiruppaavai.pdf</a>
                <br />
                English <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://www.prapatti.com/slokas/english/naalaayiram/aandaal/tiruppaavai.pdf">https://www.prapatti.com/slokas/english/naalaayiram/aandaal/tiruppaavai.pdf</a>
                <br /><br />
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: normal; text-decoration: underline;">
                    4. Venkatesa Ashtotharam & Godha archana
                </span>
                <br />
                <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://stotranidhi.com/en/sri-godadevi-ashtottara-shatanamavali-in-english">https://stotranidhi.com/en/sri-godadevi-ashtottara-shatanamavali-in-english/</a>
                <br />
                <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="https://stotranidhi.com/en/sri-maha-vishnu-ashtottara-shatanamavali-in-english">https://stotranidhi.com/en/sri-maha-vishnu-ashtottara-shatanamavali-in-english/</a>
                <br /><br />
                <span style="color: #1d2228; font-family: Arial; font-size: 18px; font-weight: normal; text-decoration: underline;">
                    5. Saattumurai
                </span>
                <br />
                <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="http://acharya.org/sloka/satrumurai/sARRumuRai-tml.pdf">http://acharya.org/sloka/satrumurai/sARRumuRai-tml.pdf</a>
                <br />
                <a target="_blank" style="color: #0000ff; font-size: 16px; text-decoration: underline;" href="http://acharya.org/sloka/satrumurai/sARRumuRai-eng.pdf">http://acharya.org/sloka/satrumurai/sARRumuRai-eng.pdf</a>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: normal; text-align: left; vertical-align: top;">
                As part of our on going annual tradition, we will be hosting the 6th annual Thiruppavai recitation at SVCC Temple Sacramento.
                <br />
                This year being very special Margazhi starts on Saturday and ends on Sunday and we have full 5 weeks (Dec 16 - Jan 14).
                <br />
                Based on devotees request and show our support we plan to organize few additions this year.
                <br />
                1. Mala Kainkaryam - Please contact Sridevi Shankar for malai contribution/seva at <a href="tel: 1-510-396-2226" style="text-decoration: underline;">510-396-2226</a>
                <br />
                2. Weekend family sponsorship ($101)  - Any family or group of families join together to sponsor that weekend day. We request families to come in traditional dress with kids. - Contact Kannan at <a href="tel: 1-916-507-4954" style="text-decoration: underline;">916-507-4954</a>
                <br />
                3. Thiruppavai  4 kids - To encourage kids we plan to allot 15 min each weekend after the Pooja (8 AM) for kids to sing Thiruppavai. - Contact Saranya Ganesh at <a href="tel: 1-916-834-4832" style="text-decoration: underline;">916-834-4832</a>
                <br />
                4. Vaikunda Ekadasi - We plan to do perumal purappadu (procession) around the temple on Dec 22.
                <br />
                5. Annadhanam at end of Mahotsavam - More details on this soon. Contact Sridevi Shankar or Balaji at <a href="tel: 1-916-806-5022" style="text-decoration: underline;">916-806-5022</a>
                <br /><br />
                We need more volunteers and support. Please contact me or anyone in the above.
                <br /><br />
                Dasan, 🙏
            </td>
        </tr>
    </table>
</div>
