@model SVCCTempleWeb.Models.IndexModel
@using ArchitectureLibraryUtility
<table style="font-size: 12px; font-weight: bold;">
    <tr>
        <td style="background-color: #d7e2e4; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
            Daily<br />
            <span style="color: #0000ff;">Shiva Abhishekam</span><br />
            <span style="color: #ff0000;">09:30 AM</span>
            <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/64" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
        </td>
        <td style="background-color: #d7e2e4; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
            Daily<br />
            <span style="color: #0000ff;">Shirdi Sai Aarthi</span><br />
            <span style="color: #ff0000;">06:30 PM</span>
            <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/120" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
        </td>
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Sunday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Sunday<br />
                <span style="color: #0000ff;">Ganapathy Abhishekam</span><br />
                <span style="color: #ff0000;">10:30 AM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/58" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
        }
        else
        {
            <td style="background-color: #ffffff; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Sunday<br />
                <span style="color: #0000ff;">Ganapathy Abhishekam</span><br />
                <span style="color: #ff0000;">10:30 AM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/58" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
        }
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Tuesday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Tuesday<br />
                <span style="color: #0000ff;">Gakara Ganapathy Sahasranamam</span><br />
                <span style="color: #ff0000;">07:00 PM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/54" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
        }
        else
        {
            <td style="background-color: #ffffff; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Tuesday<br />
                <span style="color: #0000ff;">Gakara Ganapathy Sahasranamam</span><br />
                <span style="color: #ff0000;">07:00 PM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/54" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
        }
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Thursday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Thursday<br />
                <span style="color: #0000ff;">Shirdi Sai</span><br />
                <span style="color: #0000ff;">Aarthi 06:30 AM, 11:30 AM, 06:30 PM & 8:00 PM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/120" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
        }
        else
        {
            <td style="background-color: #ffffff; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Thursday<br />
                <span style="color: #0000ff;">Shirdi Sai</span><br />
                <span style="color: #ff0000;">Aarthi 06:30 AM, 11:30 AM, 06:30 PM & 8:00 PM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/120" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
        }
    </tr>
    <tr>
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Friday)
        {
        <td style="background-color: #cbf9bb; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
            Every Friday<br />
            <span style="color: #0000ff;">Vishnu Durga Abhishekam</span><br />
            <span style="color: #ff0000;">10:30 AM</span>
            <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/61" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
        </td>
        <td style="background-color: #cbf9bb; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
            Every Friday<br />
            <span style="color: #0000ff;">Mahalakshmi Abhishekam</span><br />
            <span style="color: #ff0000;">06:30 PM</span>
            <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/67" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            <br /><br />No Abhishekam on 4/21
        </td>
        }
        else
        {
            <td style="background-color: #ffffff; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Friday<br />
                <span style="color: #0000ff;">Vishnu Durga Abhishekam</span><br />
                <span style="color: #ff0000;">10:30 AM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/61" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
            <td style="background-color: #ffffff; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Friday<br />
                <span style="color: #0000ff;">Mahalakshmi Abhishekam</span><br />
                <span style="color: #ff0000;">06:30 PM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/67" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
        }
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Saturday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Saturday<br />
                <span style="color: #0000ff;">Balaji Abhishekam</span><br />
                <span style="color: #ff0000;">10:00 AM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/55" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Saturday<br />
                <span style="color: #0000ff;">Navagraha Abhishekam</span><br />
                <span style="color: #ff0000;">12:00 PM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/62" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Saturday<br />
                <span style="color: #0000ff;">Pancha Mukhi Hanuman Abhishekam</span><br />
                <span style="color: #ff0000;">05:30 PM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/63" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
                <br /><br />6:30pm Mahalakshmi Abhishekam on 4/22
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/61" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
        }
        else
        {
            <td style="background-color: #ffffff; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Saturday<br />
                <span style="color: #0000ff;">Balaji Abhishekam</span><br />
                <span style="color: #ff0000;">10:00 AM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/55" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
            <td style="background-color: #ffffff; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Saturday<br />
                <span style="color: #0000ff;">Navagraha Abhishekam</span><br />
                <span style="color: #ff0000;">12:00 PM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/62" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
            <td style="background-color: #ffffff; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center; vertical-align: top; width: 157px;">
                Every Saturday<br />
                <span style="color: #0000ff;">Pancha Mukhi Hanuman Abhishekam</span><br />
                <span style="color: #ff0000;">05:30 PM</span>
                <br /><br /><a href="@(Utilities.GetApplicationValue("FremontBaseURL"))Sponsorship/63" style="color: #ff0000; text-decoration: underline;" target="_blank">Click here for<br />Sankalpam</a>
            </td>
        }
    </tr>
</table>
