<img src="@ApplicationInstance.Application["FremontImagesBaseURL"]/Dieties/Shiva_02.jpg" style="border-style:None;width:225px;" /><br />
<table style="background-color: #a50400; border-spacing: 4px; padding: 4px; width: 100%;">
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Daily - Shiva Abhishekam<br />9:30 AM - 10:30 AM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Daily - Shirdi Sai Aarthi<br />11:30 AM, 6:30 PM, 8 PM<br />Thu - 6:30 AM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sun - Ganapathy Abhishekam<br />10:30 AM - 12:00 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sun - Muruga Abhishekam<br />12:00 PM - 1:00 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sun - Abhirami Andhadhi & Tiruppugazh Bhajans<br />3:30 PM - 4:30 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sun - Vishnu Durga Abhishekam<br />4:30 PM - 5:30 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Every 2nd & 4th Sun - Narayaneeyam Parayanam &amp; Bhagawad Gita Chanting<br />5:30 PM - 7:30 PM
        </th>
    </tr>
    <tr>
        <th style="background-color: #a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Tue - Gakara Ganapathy Sahasranamam<br />7:30 PM - 8:30 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Fri - Vishnu Durga Abhishekam<br />10:30 AM - 12:00 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Fri - Mahalakshmi Abhishekam<br />6:30 PM - 7:30 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Fri - Lalitha Sahasranamam<br />7:00 PM - 7:30 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Fri - Vishnu Sahasranamam Class for Kids &amp; Adults<br />7:00 PM - 8:00 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sat - Venkateswara Suprabatham<br />9:00 AM - 9:20 AM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sat - Balaji Abhishekam<br />10:00 AM - 11:30 AM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sat - Navagraha Abhishekam<br />12:00 PM - 1:00 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sat - Ayyappa (Dharmashastha) Abhishekam<br />3:30 PM - 5:00 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sat - Ayyappa Bhajans<br />3:30 PM - 5:00 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Every 2nd Sat - Gnananda Seva Samaj Bhajans<br />4:30 PM - 6:30 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sat - Panchamukha Hanuman  Abhishekam<br />5:30 PM - 6:30 PM
        </th>
    </tr>
</table>
<img src="@ApplicationInstance.Application["FremontImagesBaseURL"]/Dieties/Shiva_03.jpg" style="border-style:None;width:225px;" /><br />
<img src="@ApplicationInstance.Application["FremontImagesBaseURL"]/Dieties/Shiva_04.jpg" style="border-style:None;width:225px;" /><br />
<img src="@ApplicationInstance.Application["FremontImagesBaseURL"]/Dieties/Parvathi_01.jpg" style="border-style:None;width:225px;" /><br />
<img src="@ApplicationInstance.Application["FremontImagesBaseURL"]/Dieties/Ayyappa_01.jpg" style="border-style:None;width:225px;" /><br />
<img src="@ApplicationInstance.Application["FremontImagesBaseURL"]/Dieties/Navagraha_01.jpg" style="border-style:None;width:225px;" /><br />
<img src="@ApplicationInstance.Application["FremontImagesBaseURL"]/Dieties/Saibaba_01.jpg" style="border-style:None;width:225px;" />
