
@{
    ViewBag.Title = "QRCodes";
    string imageTitle0 = "Srinivasa Kalyanam - Jun 17 & Jun 18 2022 - Sponsorship SVCC Temple Fremont";
    string imageTitle1 = "Register to be current with templeevents SVCC Temple Fremont";
}

<div class="col-md-12" style="margin: auto 0; text-align: center;">
    <span style="font-size: 18px; font-weight: bold;">Srinivasa Kalyanam - Jun 17 & Jun 18 2022</span>
    <br style="clear: both;" />
    <a alt="@imageTitle0" title="@imageTitle0" href="~/Images/Fremont/QRCodes/SrinivasaKalyanam_20220617_20220618.png" target="_blank">
        <img alt="@imageTitle0" title="@imageTitle0" src="~/Images/Fremont/QRCodes/SrinivasaKalyanam_20220617_20220618.png" style="border-style: none; height: 450px; width: 450px;" />
    </a>
    <br style="clear: both;" />
    <span style="font-size: 18px; font-weight: bold;">Register</span>
    <br style="clear: both;" />
    <a alt="@imageTitle1" title="@imageTitle1" href="~/Images/Fremont/QRCodes/Register.png" target="_blank">
        <img alt="@imageTitle1" title="@imageTitle1" src="~/Images/Fremont/QRCodes/Register.png" style="border-style: none; height: 450px; width: 450px;" />
    </a>
</div>
<script type="text/javascript">
    //divTab_onclick(0);
    function window_onload() {
    }
</script>
